
.headingLevel2--followers {
    color: rgb(0, 0, 0);
    font-size: 17.5311px;
    font-family:Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
 font-weight:400;


}

.headingLevel2--home-featured {
    color: rgb(91, 87, 87);
    font-size:44px;
}

.rich-text#1{

    color:black;
    background-color: chartreuse;
    font-weight:bold;
}

.rich-text#tittle {
    text-transform: uppercase;
}


