.container {
    padding-right: 0;
    padding-left: 0;
    max-width: 1180px;
    padding: 0 20px;
    line-height :1.4em;

}


.infoCardContainer--info-card-departament{
    height:245px;

}

.infoCardContainer--info-card-departament-variante{
    height:245px;

}

.infoCardSubhead--info-card-departament {
    color: #fff;
    font-size: 32px;
    align-items: center;
}

.infoCardSubhead--info-card-departament-variante  {
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight :bold;
}

.infoCardContainer {
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
    box-sizing: content-box;
    width: 100%;
    border: solid #ffffff 8px;
    padding: 10px;
    background-color:transparent;
    
}

.infoCardSubhead--info-card-departament {
    font-size: 30px;
    font-weight :bold;
}





.label {
    background-color:rgb(46, 52, 56);
}




