
.flexRow--homepage {
    background-color: rgb(46, 52, 56);
    font-weight :400;
    color: rgb(36,36,36);
    font-size :32.8844px;
    font-weight: 900;
    padding-top: 96px;
    padding-bottom: 64px;

}


