.paragraph--boton-primary{
    background-color: rgb(24, 24, 24);
    padding: 1.6rem 1.4rem;

    

    

 
}

.link--boton-primary {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-Family:Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
     font-weight: var(---font-weight-accent-bold);
    


 

   
}






