.paragraph--boton-primary{
    background-color: rgb(206, 5, 5);
    font-weight: var(---font-weight-accent-bold);
    font-family:Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-Weight:bold;
}

.link--boton-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(1, 1, 1);
    text-decoration: none;
     font-weight: var(---font-weight-accent-bold);
     border-top: solid rgb(8, 8, 8);
     border-right:solid rgb(8, 8, 8);
     border-bottom: solid rgb(8, 8, 8);
     border-left:solid rgb(8, 8, 8);
     border-width: 1px;
     padding: 16px 11px;

    
}









