
.input {
    background-color:rgb(255, 255, 255);
    box-sizing:border-box;
    border: none; 
    outline:none;
    height: 30px;
    width: 17px;
    overflow: hidden;
    font-size :16.6708px;








}